@using MediService.ASP.NET_Core.Services.Specialists
@using MediService.ASP.NET_Core.Infrastructure

@model IEnumerable<AppointmentViewModel>

@inject ISpecialistService Specialists
@{
    ViewData["Title"] = "My appointments";
    var isSpecialist = Specialists.IsSpecialist(User.Id());
}

<div class="container">
    <h2 class="heading-margin text-center">My appointments</h2>
    @if (!Model.Any())
    {
        <h3 class="text-center">You do not have any active appointments.</h3>
    }
    else
    {
        <table class="table table-info col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Service</th>
                    @if (isSpecialist)
                    {
                        <th scope="col">Patient name</th>
                    }
                    else
                    {
                        <th scope="col">Specialist name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.Date</td>
                        <td>@appointment.Time</td>
                        <td>@appointment.ServiceName</td>
                        <td>@appointment.Name</td>
                        @if (isSpecialist)
                        {
                            <td><a class="btn btn-primary" href="/Appointments/Details?id=@appointment.Id">View more</a></td>
                        }
                        else
                        {
                            @if (appointment.CanCancel)
                            {
                                <td><a class="btn btn-danger" href="/Appointments/Cancel?id=@appointment.Id">Cancel Appointment</a></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <a class="btn btn-primary" href="/Appointments/Archive">My past appointments</a>
</div>

