<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="view">
    <header>
        <div id="nav-bar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
            <h4 class="my-0 mr-md-auto font-weight-bolder">
                <a href="/" class="navbar-expand">MediSevice</a>
            </h4>
            <span class="navbar-text">Welcome, example@example.com</span>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark font-weight-bolder" href="/Team/All">The Team</a>
                <a class="p-2 text-dark font-weight-bolder" href="#">Services</a>
                <a class="p-2 text-dark font-weight-bolder" href="/Subscriptions/All">Subscriptions</a>
                <a class="p-2 text-dark font-weight-bolder" href="/Home/Faq">F.A.Q</a>
            </nav>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-primary" href="/Users/Register">Register</a>

                <a class="btn btn-outline-primary" href="/Users/Login">Login</a>
            }
            else
            {
                <a class="btn btn-danger" href="/Users/Logout">Logout</a>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2021 - MediService - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
