@model SubscriptionAddFormModel
@{
    ViewData["Title"] = "Add Subscription";
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Subscription</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" placeholder="Basic" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input type="text" class="form-control" placeholder="9.99" asp-for="Price">
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentCount"></label>
                <input type="number" class="form-control" value="1" asp-for="AppointmentCount">
                <span asp-validation-for="AppointmentCount"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Subscription</button>
        </form>

    </div>
</div>
