@model List<ServiceViewModel>

@{
    ViewData["Title"] = "Our Services";
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-warning font-weight-bold">Our Medical Services</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var service in Model)
        {
            <div class="col-sm-6">
                <div class="card border border-warning">
                    <div class="card-body">
                        <h5 class="card-title text-warning font-italic">@service.Name</h5>
                        <p class="card-text">@service.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>