@model List<ReviewViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</div>
<div class="container">
    <h2>Recent reviews</h2>
    <div class="card-deck row">
        @foreach (var review in Model)
        {
            <div class="col-sm-6">
                <div class="card bg-light">
                    <div class="card-header bg-info">
                        <span class="text-white">
                            @review.Title
                        </span>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@review.Description</p>
                            <span>Rating: @review.Rating</span>
                            <footer class="blockquote-footer text-info">Rated by <cite>@review.Username</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
