@model List<ReviewViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading text-warning">Welcome to MediService</h1>
    <h3>Trust us. We work for You.</h3>
    <p class="lead">
        <a href="/Home/Faq" class="btn btn-lg btn-warning">Learn more</a>
    </p>
</div>
<div class="container">
    <h2 class="text-warning text-lg-center font-weight-bolder font-italic">Most recent reviews</h2>
    <div class="card-deck row">
        @if (!Model.Any())
        {
            <div class="container">
                <h3 class="text-warning">No reviews yet.</h3>
            </div>
        }
        @foreach (var review in Model)
        {
            <div class="col-sm-6">
                <div class="card bg-light">
                    <div class="card-header bg-warning">
                        <span class="text-white">
                            @review.Title
                        </span>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@review.Description</p>
                            <span>Rating: @review.Rating</span>
                            <footer class="blockquote-footer text-warning">Rated by <cite>@review.Username</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
