@model UserLoginFormModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="m-3 text-center font-weight-bold text-warning">Login</h2>
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <div class="form-group">
                <label class="text-warning" asp-for="Username"></label>
                <input type="text" class="form-control" placeholder="Username" asp-for="Username" autofocus>
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label class="text-warning" asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
    </div>
</div>
